.urls-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 32px;
}

.relative {
  position: relative;
  width: 250px;
}

.url-container {
  width: 250px;
  background-color: var(--tertiary);
  padding: 0.5rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s ease-in-out;
  z-index: 1;
  position: relative;
  box-shadow: 4px 4px 0 0 black;
}

.shorturl {
  font-weight: bold;
  color: var(--light-highlight);
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--highlight);
}

.realurl {
  color: var(--primary);
}

.realurl,
.shorturl {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}

.delete-button {
  position: absolute;
  width: 30px;
  aspect-ratio: 1;
  z-index: 100;
  top: -20%;
  right: -7%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--tertiary);
  color: var(--highlight);
  border: 3px solid var(--highlight);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  box-shadow: 4px 4px 0 0 black;
}

.delete-button:hover {
  transform: scale(1.1);
  border-color: var(--light-highlight);
  color: var(--light-highlight);
}

.clicks {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--tertiary);
  padding: 4px 8px;
  box-shadow: 4px 0 0 0 black;
  color: var(--primary);
}
