.searcher-wrapper {
  position: relative;
  margin: 60px auto;
  box-shadow: 5px 5px 0 0 black;
  display: flex;
}

.searcher {
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 16px;
  width: 400px;
  border: 2px solid var(--tertiary);
  background-color: var(--tertiary);
  color: var(--primary);
  outline: none;
}

.searcher-wrapper::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--highlight);
  bottom: 0;
  left: 0;
  z-index: 10;
  transition: 0.15s ease-in-out;
}

.searcher-wrapper:has(.searcher:focus)::before {
  width: 100%;
}

.search-icon {
  color: var(--highlight);
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary);
}
