*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container { 
  margin: auto;
  max-width: 1200px;
  width: 90%;
  padding-top: 100px;
}

.form-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background-color: var(--secondary);
  width: 400px;
  border-radius: 16px;
  padding: 1rem;
  position: relative;
}

.form-label{
  color: var(--highlight);
}

.form-input{
  background-color: var(--highlight);
  color: var(--tertiary);
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  display: block;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
}

.submit-button {
  border: none;
  outline: none;
  background-color: var(--tertiary);
  border-radius: 6px;
  padding: 0.5rem;
}