:root {
  --primary: #eeeeee;
  --secondary: #686d76;
  --tertiary: #373a40;
  --highlight: #dc5f00;
  --light-highlight: #e19e6a;
  --gray-transparent: rgba(128, 128, 128, 0.274);
  --white-transparent: rgb(212, 212, 212);
}

body {
  font-family: "Chivo Mono Variable", sans-serif;
  background-color: var(--primary);
  padding-bottom: 20px;
}
